body {
    font-family: "Roboto", sans-serif;
    color: #434445;
    background-color: #FFFFFF;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

ul h3 {
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .nav-logo {
    color: #2e2f42;
}

.header-logo{
    margin-right: 76px;
}

.footer-logo .nav-logo {
    color: #f4f4fd;
}

.footer-log {
    margin-bottom: 76px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.main-page {
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #2e2f42;
    font-size: 56px;
}

.button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.body-page {
    background-color:#f4f4fd;
}

.body-text {
    color: #2e2f42;
}

.team-item{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.port-text {
    color: #2e2f42;
}

.footer-page {
    background-color: #2e2f42;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd
}