body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.nav-box,
.contacts,
.list-description,
.list-foto {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.display {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1158px;
}

.container-header {
    display: flex;
    align-items: center;
}

.nav-box {
    display: flex;
    align-items: center;
}


.accent {
    color: #2e2f42;
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.navigation {
    list-style-type: none;
    text-align: center;
    display: flex;
    gap: 40px;
    padding-left: 0;
    flex-grow: 1;
    margin: 24px 0;
}

.decoretion-symbol::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

a.decoretion-symbol {
    color: #404bbf;
}

.navigation-menu {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu:hover,
.navigation-menu:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: 332px;
}

.address {
    list-style-type: none;
    text-align: right;
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
}

.contacts-address {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover,
.contacts-address:focus {
    color: #404bbf;
}

.section-button {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, 
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
}

.title-main {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto 48px auto;
    max-width: 496px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    background-color: #404bbf;
    text-align: center;
}

.section-description {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-two-section {
    color: #ffffff;
    display: none;
}

.list-description {
    display: flex;
    width: 1128px;
    gap: 24px;
    margin: 0 auto;
}


.list {
    list-style-type: none;
    width: calc((100% - 72px) / 4);
    width: 264px;
}

.box-icon-description {
    display: flex;
    align-items: center;
    border: 1px solid #8e8f99;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    justify-content: center;
}

.title-list-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.description {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
}

.section-foto {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.info-team {
    padding: 32px 0;
}

.list-foto {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin-bottom: 0;
    justify-content: center;
}

.list-fone {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #ffffff;
}

.title-section-foto {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    color: #2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    margin-bottom: 72px;
    margin-top: 0;
}

.title-foto {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
}

.text-foto {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin: 0;
}

.list-icon-team {
    display: flex;
    gap: 24px;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
}

.list-link-social {
    height: 40px;
    width: 40px;
}

.link-social-team {
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-team:hover,
.link-social-team:focus {
    background-color: #404bbf;
}

.icon-team {
    fill: #f4f4fd;
}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-prtfo {
    list-style-type: none;
    display: flex;
    gap: 24px;
    width: 1128px;
    flex-wrap: wrap;
    row-gap: 48px;
    padding-left: 0;
    margin: 0 auto;
}

.content-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-portfolio:hover,
.content-portfolio:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.box-overlay {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.box-overlay:hover .text-overlay {
    transform: translateY(0);
}

.info-prtfo {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.title-foto-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.text-prtfo {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434455;
    letter-spacing: 0.02em;
    margin: 0;
}

.section-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.box-footer-logo {
    margin-right: 120px;
}

.logo-footer {
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
}

.text-ftr {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
    width: 264px;
}

.accent-ftr {
    color: #f4f4fd;
    margin: 0;
}

.list-icon-footer {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.footer-social-link {
    width: 40px;
    height: 40px;
}

.title-social-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
}

.link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}

.icon-footer {
    fill: #f4f4fd;
}

.box-subscribe {
    margin-left: auto;
}

.title-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;
    margin-bottom: 16px;
}

.form-subscribe {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.description-input {
    border: 1px solid #fff;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    outline: none;
    color: #ffffff;
}

.description-input:focus {
    border: 1px solid #4d5ae5;
}

.button-form-footer {
    display: flex;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.icon-button-subscribe {
    fill: #ffffff;
    margin-left: 16px;
}

.button-form-footer:hover,
.button-form-footer:focus {
    background-color: #404bbf;
}

.modal-info {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-info.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}    

.modal {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    max-width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    fill: #2e2f42;
    justify-content: center;
    align-items: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
}

.button-close:hover,
.button-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-tittle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 360px;
}

.form-group {
    margin-bottom: 8px;
    border: none;
}

.box-user {
    position: relative;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    cursor: pointer;
    
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    outline-color: transparent;
    outline-style: none;
    outline-width: medium;
    padding-left: 38px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.form-input:focus + .form-icon {
    fill: #4d5ae5;
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
}

.box-comment {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.text-input-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  outline-color: transparent;
  outline-style: none;
  padding: 8px 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.text-input-comment:focus {
    border: 1px solid #4d5ae5;
}

.box-checkbox {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}

.checkbox-input:checked + .form-checkbox .check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.form-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}

.link-privacy-user {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.check {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.check-icon {
    fill: #f4f4fd;
}

.form-button {
    cursor: pointer;
    border: none;
    display: block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404bbf;
}